<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/46a9f855ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/img/weather.png">
    <title>About Us</title>
</head>

<body>
    {{>header}}
    <div class="empty">
        <p>
            This was created to get the weather information of any city in the world. To do this you just enter your
            desired address in the input section.
        </p>
        <p>
            I have provided an API endpoint that developers can also use to create their own apps.
        </p>
        <p>
            Incase you dont get the desired address on the first submission, add the County or State name for citiies in
            America and the Country Name for other cities. Eg:-
        </p>
        <p class="list">
            <li>Delhi, India</li>
            <li>Los Angeles, Carlifonia</li>
        </p>
    </div>
    {{>footer}}
</body>

</html>