<footer>
    <h3>Created by {{name}} &copy; 2020</h3>
    <ul>
        <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
        <li><a href=""><i class="fab fa-github"></i></a></li>
        <li><a href=""><i class="fab fa-twitter"></i></a></li>
    </ul>
</footer>