<footer>
    <h3>Created by {{name}} &copy; 2020</h3>
    <ul>
        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://github.com/ManuOmulo"><i class="fab fa-github"></i></a></li>
        <li><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
    </ul>
</footer>