<header>
    <div class="logo">
        <i class="fas fa-cloud-sun"></i>
    </div>

    <ul>
        <li><a href="/">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/api">API</a></li>
    </ul>
</header>
<h2 class="header-title">
    {{title}}
</h2>